<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="152x152" href="<%= BASE_URL %>assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="<%= BASE_URL %>assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="<%= BASE_URL %>assets/favicon/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#c6c6c6">
    <meta name="theme-color" content="#ffffff">

		<link href="./assets/css/style.min.css" rel="stylesheet" type="text/css">

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="container"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
