<template>
    <p><a href="mailto:contact.m.montagne@gmail.com">contact.m.montagne@gmail.com</a></p>

    <p><a href="https://www.instagram.com/marine_montagne/" target="_blank">@marine_montagne</a></p>

    <p>Cofondatrice de&nbsp;<a href="https://dorica-castra.fr/" target="_blank">dorica castra</a></p>

    <p><a href="https://www.instagram.com/dorica.castra/" target="_blank">@dorica.castra</a></p>
</template>