<template>
  
  <div v-if="!isMobile" id="cursor"></div>

  <header>
    <DesktopHeader v-if="isVertical != true" />
    <MobileHeader v-else />
  </header>

  <Slider v-if="images" :images="images" />
  
  <footer>
    <DesktopFooter v-if="isVertical != true" />
    <MobileFooter v-else />
  </footer>
</template>

<script>
const innerOrientation = () => {

  return window.innerHeight > window.innerWidth ? true : false;

}, viewportHeight = () => {

  const vh = ( window.innerHeight * 0.01 ).toFixed( 2 );
  document.documentElement.style.setProperty( "--vh", `${ vh }px` );

}

import Slider from "@/components/Slider.vue";
import DesktopHeader from "@/components/DesktopHeader.vue";
import DesktopFooter from "@/components/DesktopFooter.vue";
import MobileHeader from "@/components/MobileHeader.vue";
import MobileFooter from "@/components/MobileFooter.vue";
import { ref } from '@vue/reactivity';
import { isMobile } from 'mobile-device-detect';

let orientation = ref( innerOrientation() );

export default {

  name: "container",

  components: {

    Slider,
    DesktopHeader,
    DesktopFooter,
    MobileHeader,
    MobileFooter,

  },

  mounted() {

    viewportHeight();

    window.addEventListener( "resize", function() {

      viewportHeight();
      this.handleOrientationChange

    } );

    if ( !isMobile ) {

      const cursor = document.querySelector( "#cursor" );

      window.addEventListener( "mousemove", function( e ){ cursorMove( e ) } );

      const cursorMove = e => {

        cursor.style.top = `${e.pageY}px`;
        cursor.style.left = `${e.pageX}px`;

      }
      
    }

  },

  methods: {

    handleOrientationChange() {

      orientation.value = innerOrientation();

    }

  },

  computed: {

    isMobile() {

      return isMobile ? true : false;

    },

    isVertical() {

      return orientation.value;

    },

    images() {

      return [

        'assets/img/aend00_marine-montagne.jpg',
        'assets/img/alan00_marine-montagne.jpg',
        'assets/img/bliss02_marine-montagne.jpg',
        'assets/img/catalogue-prospectus00_marine_montagne.jpg',
        'assets/img/centpourcent00_marine-montagne.jpg',
        'assets/img/devant-loeuvre00_marine-montagne.jpg',
        'assets/img/ESB00_marine-montagne.jpg',
        'assets/img/gardien_voiture00_marine-montagne.jpg',
        'assets/img/goepe00_marine-montagne.jpg',
        'assets/img/guerre-faux00_marine-montagne.jpg',
        'assets/img/imagerie00_marine-montagne.jpg',
        'assets/img/manuel00_marine-montagne.jpg',
        'assets/img/memoire00_marine-montagne.jpg',
        'assets/img/panini00_marine-montagne.jpg',
        'assets/img/poupee00_marine-montagne.jpg',
        'assets/img/treize00_marine-montagne.jpg',
        'assets/img/visite-expo00_marine-montagne.jpg',

      ];

    },

  },

}
</script>